<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="dist/css/paver.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/links.css">

	<title>EmekaOkeke | Mountains Example</title>
	<style>
		.panorama {
			height: 400px;
			overflow-x: scroll;
			overflow-y: hidden;
		}
		.panorama img {
			height: 100%;
		}
	</style>
</head>
<body>
