<!-- The overlay -->
<div id="myNav" class="menu-overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="/enjoycareers">Enjoy Careers</a>
    <a href="/nova">Nova</a>
    <a href="/billboss">BillBoss</a>
    <a href="/learn4life">Learn4Life</a>
  </div>

</div>


<header>
  <div class="row">
    <div class="col-md-6">
      <!-- <ul class="navigation-menu">
        <li><a href="/#what-i-do">What I do</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#contact">Find Me</a></li>
      </ul> -->
    </div>

    <div class="col-md-6">
      <!-- <ul class="social-menu">
        <li class="resume"><a href="/">Resume</a></li>
        <li><a href="https://github.com/Dabas1ks" class="github" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/emekaokeke" class="linkedin" target="_blank">LinkedIn</a></li>
      </ul> -->
      <!-- Use any element to open/show the overlay navigation menu -->
      <span id="nav-toggle" onclick="openNav();">&#9776;</span>
    </div>
  </div>
</header>
