{{> header}}
<div id="menu-container">
  <ul id="Navmenu">
    <li><a href="/">Home</a></li>
    <li><a href="pan">Panoramic View</a></li>
  </ul>
</div>
<div class="cd-background-wrapper">
  <h1 class="caption">Click on a link</h1>
  <a href="pan" id="link1" class="example">Link1</a>
  <a href="pan" id="link2" class="example">Pan</a>
  <a href="pan" id="link3" class="example">Link3</a>
  <a href="pan" id="link4" class="example">Link4</a>
  <figure class="cd-floating-background">
    <img src="img/bg.jpg" alt="image-1">
    <img src="img/bg-mtn.png" alt="image-2">
    <img src="img/mid-mtn.png" alt="image-3">
    <img src="img/mid.png" alt="image-4">
    <img src="img/foreground.png" alt="image-5">
  </figure>
</div>
<div id="content">
  <h1 class="heading">Mountains Example</h1>
  <p>Lorem ipsum dolor sit amet, sale vivendo pro ex, ei nobis congue his. Duo in euripidis efficiantur, mentitum lucilius ocurreret vim no. Inani aliquam cu duo, populo oporteat nec in, hinc ponderum tacimates ea sit. Has tritani aliquid at, pro illum exerci cu. Vel percipit molestiae eu, te cibo rebum dissentias has, eos et exerci iisque.</p>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
