{{> header}}
<style>
.panorama {
	height: 400px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.panorama img {
	height: 100%;
}
</style>
<div id="menu-container">
	<ul id="Navmenu">
		<li><a href="/">Home</a></li>
		<li><a href="pan">Panoramic View</a></li>
	</ul>
</div>

<div class="panorama" >
    <img src="img/pano-room.jpg" alt="" title="" />
		<a href="/" id="link1" class="example">Home</a>
		<a href="/" id="link2" class="example">Link2</a>
		<a href="/" id="link3" class="example">Link3</a>
		<a href="/" id="link4" class="example">Link4</a>
</div>

<div id="content" style="background-color: #000; color: #fff;">
	<h1 class="heading">Room Example</h1>
	<p>Lorem ipsum dolor sit amet, sale vivendo pro ex, ei nobis congue his. Duo in euripidis efficiantur, mentitum lucilius ocurreret vim no. Inani aliquam cu duo, populo oporteat nec in, hinc ponderum tacimates ea sit. Has tritani aliquid at, pro illum exerci cu. Vel percipit molestiae eu, te cibo rebum dissentias has, eos et exerci iisque.</p>
</div>


<script src="jquery/jquery-v1.7.min.js"></script> <!-- Resource jQuery -->
<script src="dist/js/jquery.paver.min.js"></script>
<script src="throttle/debounce.js"></script>
<!-- <script src="js/custom-paver.js"></script> -->

</body>
</html>
